
<div class="journey row" ng-show="item.DetailsHidden">
      <div class="col-xs-2">
        <p ng-show="searchOptions.SainsActive" ng-class="{ 'lowprice': item.SainsPrice==item.lowestPrice}">S: {{item.SainsPrice || "NA" | currency:"£"}}</p>
      </div>
      <div class="col-xs-2">
        <p ng-show="searchOptions.TescoActive" ng-class="{ 'lowprice': item.TescoPrice==item.lowestPrice}">T: {{item.TescoPrice || "NA" | currency:"£"}} </p>
      </div>
      <div class="col-xs-2">
        <p ng-show="searchOptions.MorriActive" ng-class="{ 'lowprice': item.MorriPrice==item.lowestPrice}">M: {{item.MorriPrice || "NA" | currency:"£"}} </p>
      </div>
      <div class="col-xs-2">
        <p ng-show="searchOptions.OcadoActive" ng-class="{ 'lowprice': item.OcadoPrice==item.lowestPrice}">O: {{item.OcadoPrice || "NA" | currency:"£"}} </p>
      </div>
      <div class="col-xs-2">
        <p ng-show="searchOptions.AsdaActive" ng-class="{ 'lowprice': item.AsdaPrice==item.lowestPrice}">A: {{item.AsdaPrice || "NA" | currency:"£"}} </p>
      </div>
      <div class="col-xs-2">
        <p ng-show="searchOptions.WaitrActive" ng-class="{ 'lowprice': item.WaitrPrice==item.lowestPrice}">W: {{item.WaitrPrice || "NA" | currency:"£"}} </p>
      </div>
     
    </div>
